.criticality {
    width: 20px;
    text-align: center;
    color:white;
}

img {
    width: 200px;
    height: 140px;
    margin-left: -16px;
}
.imdb {
    width: 40px;
    text-align: center;
    color: white;
  }
  